<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace ="Massage">
 	<insert id="sendMassage" parameterType="massage">
 	INSERT INTO MASSAGE VALUES(#{sendid},#{getid},#{mtitle},#{mcontent},SYSDATE,1,MSG_SQE.NEXTVAL)
 	</insert>
 	<select id="massageList" resultType="massage" parameterType="String">
 		SELECT * FROM MASSAGE WHERE GETID = #{id} ORDER BY MDATE DESC
 	</select>
 </mapper>
 